body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 
h1, h2 {
  text-align: center;
}
 
.controls {
  text-align: center;
  margin-bottom: 20px;
}
 
.population-chart, .sampling-chart {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
 
canvas {
  border: 1px solid #000;
}
 
#samplingMean, #samplingStdDev {
  font-weight: bold;
}
